*{
    padding: 0px;
    margin: 0px;
}
body {
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .navbar{
      padding: 15px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid black;
      align-items: center;
      position: sticky;
      top: 0;
      background-color: white;
      z-index: 1;
  }

  .navbar__s1__title{
      color: #440686;
  }
  .navbar__s2{
      border: 1px solid black;
      border-radius: 30px;
      padding: 8px;
      width: 60%;
      display: flex;
      gap: 10px;
  }
  .navbar__s2 input{
      border: none;
      width: 100%;
      background-color: transparent;
  }

  .navbar__s2 input:hover{
      outline: none;
  }

  .navbar__s3{
      display: flex;
      gap: 10px;
  }
  .navbar__s4{
      display: none;
  }
  /* MyLearning Popup */
  .mylearning{
      position: relative;
      cursor: pointer;
  }
  .mylearning__popup{
      position: absolute;
      border: 1px solid black;
      background-color: white;
      width: 100px;
      padding: 20px;
      top: 150%;
      right: 0px;
      display: none;
  }

  .mylearning:hover .mylearning__popup{
      display: block;
  }

  /* Categories Section */
  .categories{
      display: flex;
      justify-content: space-around;
      border-bottom: 1px solid black;
  }

  .categories p{
      background-color: #440686;
      border: #440686 solid 1px;
      color: white;
      border-radius: 30px;
      padding: 10px;
      margin: 10px;
      cursor: pointer;
      transition: 0.75s;
  }
  .categories p:hover{
      background-color: transparent;
      color: black;
      border: #440686 solid 1px;
      transition: 1s;
  }

  /* Sale Image */
  .sale-image{
      position: relative;
  }
  .sale-image img{
      width: 100%;
  }
  .sale-image__offer{
      width: 35%;
      border: black solid 2px;
      background-color: white;
      padding: 2%;
      position: absolute;
      top: 5%;
      left: 10%;
      animation-name: zoom;
      animation-duration: 2s;
      opacity: 0;
      animation-fill-mode: forwards;
  }
  @keyframes zoom{
      0%{
          transform: scale(0);
          opacity: 0;
      }
      100%{
          transform: scale(1);
          opacity: 1;
      }
  }
  

  /* Recommended Section */
  .recommended{
      padding: 10px;
  }
  .recommended__container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 8px;
  }

  .course__card{
      flex-grow: 1;
      flex-basis: 20%;
      margin: 5px;
  }

  .course__card img{
      width: 100%;
      height: 50%;
  }

  /* Topics Section */

  .topics{
      padding: 10px;
  }

  .topics__container{
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      margin-top: 10px;
      
  }

  .topics__container p{
      border: 2px solid grey;
      padding: 10px;
      flex-grow: 1;  /* This is defines elements occupaid the web page */
      flex-basis: 25%; /* This is also like play the width role */

     
  }
  /* Popular Section */
  .popular{
      padding: 10px;
  }

  .popular__container{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 7px;
  }
  /* Footer Section */
  .footer{
      padding: 30px;
      background-color: black;
      color: white;
  }

  .footer__one{
      display: flex;
      gap: 10px;
  }
  .footer__two{
      display: flex;
      justify-content: space-between;
  }
  .footer__one p{
      margin: 20px;
  }
  .footer__two {
      align-items: center;
      margin: 20px;
  }
  

  /* Media Queries */
  @media screen and (max-width: 800px){
      body{
          font-size: 10px;
      }
  }

  @media screen and (max-width: 600px){
      .course__card{
          flex-basis: 40%;
      }
      .categories{
          display: none;
      }
      .navbar__s2,.navbar__s3{
          display: none;
      }
      .sale-image__offer{
          top: 10%;
          font-size: 70%;
      }
      .navbar__s4{
          display: block;
      }
}